body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header, footer {
    background-color: #b11226;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
}
